$font-family: inherit;

$grey-color: #dedede;
$blue-color: blue;

$image-width: 90px;
$wrapper-padding: 10px;
$title-font-size: 14px;
$meta-font-size: 12px;

#wp_virgool_wrapper {
	font-family: $font-family;
	border-radius: 5px;
	border: 1px solid $grey-color;
	padding: $wrapper-padding;
	direction: rtl;

	.wp_virgool_post {
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
		display: flex;
		flex-direction: row;
		transition: all .2s ease;

		&:hover,
		&:active {
			color: $blue-color;
		}
	}

	img {
		border-radius: 5px;
		width: $image-width;
		vertical-align: top;
	}

	.image_side {
		width: $image-width;
		margin-left: 10px;
	}

	p {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: bold;
		font-size: $title-font-size;
	}

	.virgool_meta {
		font-size: $meta-font-size;
		color: $grey-color;
	}

	.sides {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: hidden;
		justify-content: space-between;
	}
}
