<div id="wp_virgool_wrapper">
{{#posts}}
	<div class="wp_virgool_post">
		<img src="{{#image}}{{.}}{{/image}}">
		<b>{{title}}</b> -
		<time>{{metadata.0}}</time> -
		<span>{{metadata.1}}</span>
	</div>
{{/posts}}
</div>
